<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">

    <default>
        <admin>
            <security>
                <password_is_forced>
                    <![CDATA[0]]>
                </password_is_forced>
            </security>
            <captcha>
                <enable>
                    <![CDATA[0]]>
                </enable>
            </captcha>
        </admin>
        <customer>
            <captcha>
                <enable>
                    <![CDATA[0]]>
                </enable>
            </captcha>
        </customer>
        <design>
            <head>
                <default_title>
                    <![CDATA[Binford® Tools Home]]>
                </default_title>
                <demonotice>
                    <![CDATA[1]]>
                </demonotice>
            </head>
            <header>
                <welcome>
                    <![CDATA[REAL MEN don’t need instructions!]]>
                </welcome>
            </header>
            <footer>
                <copyright>
                    <![CDATA[© 2020 Binford® Tools Home. All rights reserved.]]>
                </copyright>
            </footer>
        </design>
        <general>
            <store_information>
                <name>
                    <![CDATA[Binford® Tools Home]]>
                </name>
                <phone>
                    <![CDATA[+49 89 41614787-0]]>
                </phone>
                <country_id>
                    <![CDATA[DE]]>
                </country_id>
                <region_id>
                    <![CDATA[81]]>
                </region_id>
                <postcode>
                    <![CDATA[81541]]>
                </postcode>
                <city>
                    <![CDATA[Munich]]>
                </city>
                <street_line1>
                    <![CDATA[Balanstraße 73]]>
                </street_line1>
                <street_line2>
                    <![CDATA[Haus 8, 3. OG]]>
                </street_line2>
                <merchant_vat_number>
                    <![CDATA[DE249664276]]>
                </merchant_vat_number>
            </store_information>
        </general>
    </default>

</config>
